exercises*/ex*/__pycache__

/source/exercises06/.gradle/
/source/exercises02_03/.gradle/
/source/exercises02_03/build/
/source/exercises02_03/ex02/.gradle/
/source/exercises02_03/ex02/build/
/source/exercises02_03/ex03/.gradle/
/source/exercises02_03/ex02/nbproject/private/
/source/exercises02_03/ex02/dist/
/source/exercises02_03/ex03/nbproject/private/
/source/exercises02_03/ex03/build/
/source/exercises02_03/ex03/dist/
/source/exercises02_03/TempLabel/nbproject/private/
/source/exercises02_03/TempLabel/dist/
/source/exercises02_03/TempLabel/build/
/source/exercises02_03/ex04/nbproject/private/
/source/assignment2/part2/MapReduce-Volpi/nbproject/private/